@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.sidebar-wrapper {
  display: flex;
  z-index: 2;
  width: 341px;
  background: #21201E;
  position: relative;
  min-height: 100vh;
  box-sizing: border-box;
  height: auto;
}
@media (max-width: 1640px) {
  .sidebar-wrapper {
    height: calc(100vh + 3px);
  }
}
@media (max-width: 393px) {
  .sidebar-wrapper {
    width: 200px;
    height: 652px;
    display: none;
    z-index: 1000;
  }
}
.sidebar-wrapper .reset-filters .reset-filters-btn {
  padding: 6px;
  background: #dc3200;
  border: 1px solid #3E3D3B;
  position: absolute;
  top: 295px;
  left: 230px;
  width: 80px;
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
  align-items: center;
  font-family: "Montserrat", serif;
  font-size: 12px;
  font-weight: 800;
  color: #fff;
  transition: all 500ms ease;
}
@media (max-width: 393px) {
  .sidebar-wrapper .reset-filters .reset-filters-btn {
    top: 193px;
    left: 110px;
    padding: 3px;
  }
}
.sidebar-wrapper .reset-filters .reset-filters-btn:hover {
  transform: scale(1.2);
  background: #bc2d01;
}
.sidebar-wrapper .exit-sidebar {
  display: none;
}
@media (max-width: 393px) {
  .sidebar-wrapper .exit-sidebar {
    display: block;
    position: absolute;
    color: #dc3200;
    left: 170px;
    top: 10px;
    transform: scale(2);
  }
}
.sidebar-wrapper .logo {
  position: absolute;
  background: url("./img/logo1.svg") no-repeat;
  background-size: cover;
  width: 280px;
  height: 120px;
  top: 40px;
  left: -10px;
}
@media (max-width: 393px) {
  .sidebar-wrapper .logo {
    background: url("./img/logo-mobile.svg") no-repeat;
    transform: scale(1.5);
    left: 70px;
    top: 50px;
  }
}
.sidebar-wrapper .filter {
  position: relative;
}
.sidebar-wrapper .filter .filter-price::before {
  position: absolute;
  top: 180px;
  left: 5px;
  display: block;
  content: "";
  width: 330px;
  height: 2px;
  background: #fff;
}
@media (max-width: 393px) {
  .sidebar-wrapper .filter .filter-price::before {
    width: 200px;
    left: 0;
    top: 80px;
  }
}
.sidebar-wrapper .filter .filter-price::after {
  position: absolute;
  top: 234px;
  left: 5px;
  display: block;
  content: "";
  width: 330px;
  height: 2px;
  background: #fff;
}
@media (max-width: 393px) {
  .sidebar-wrapper .filter .filter-price::after {
    width: 200px;
    left: 0;
    top: 184px;
  }
}
.sidebar-wrapper .filter .filter-price .title-price {
  position: absolute;
  left: 10px;
  top: 195px;
  font-family: "Montserrat", serif;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}
@media (max-width: 393px) {
  .sidebar-wrapper .filter .filter-price .title-price {
    top: 95px;
  }
}
.sidebar-wrapper .filter .filter-price .title-price::after {
  display: block;
  content: "";
  background: #3E3D3B;
  width: 35px;
  height: 2px;
  margin-left: 178px;
  margin-top: -11px;
}
@media (max-width: 393px) {
  .sidebar-wrapper .filter .filter-price .title-price::after {
    width: 20px;
    background: #3E3D3B;
    height: 1px;
    position: absolute;
    top: 65px;
    left: -85px;
  }
}
.sidebar-wrapper .filter .filter-price .search-price-1 {
  margin-bottom: -17px;
  position: relative;
  color: #fff;
}
.sidebar-wrapper .filter .filter-price .search-price-1 .price-input1 {
  margin-left: 20px;
  background: #21201E;
  border: 1px solid #3E3D3B;
}
@media (max-width: 393px) {
  .sidebar-wrapper .filter .filter-price .search-price-1 .price-input1 {
    width: 55px;
    height: 15px;
    padding: 7px;
    padding-left: 10px;
    background: #21201E;
    border: 1px solid #3E3D3B;
    font-size: 12px;
    top: 135px;
    left: 8px;
    color: #fff;
  }
}
.sidebar-wrapper .filter .filter-price .search-price-2 {
  margin-top: 15px;
  position: relative;
}
.sidebar-wrapper .filter .filter-price .search-price-2 .price-input2 {
  color: #fff;
  max-width: 300px;
  margin: 0 auto;
  position: absolute;
  margin-left: 160px;
  background: #21201E;
  border: 1px solid #3E3D3B;
}
@media (max-width: 393px) {
  .sidebar-wrapper .filter .filter-price .search-price-2 .price-input2 {
    width: 55px;
    height: 15px;
    padding: 7px;
    padding-left: 10px;
    background: #21201E;
    border: 1px solid #3E3D3B;
    font-size: 12px;
    top: 135px;
    left: -25px;
    color: #fff;
  }
}
.sidebar-wrapper .filter .filter-brand {
  position: absolute;
  font-family: "Montserrat", serif;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  left: 15px;
  top: 250px;
}
@media (max-width: 393px) {
  .sidebar-wrapper .filter .filter-brand {
    top: 200px;
    left: 10px;
  }
}
.sidebar-wrapper .filter .filter-brand .search-brand {
  color: #fff;
  position: absolute;
  top: -195px;
  left: 145px;
}
@media (max-width: 393px) {
  .sidebar-wrapper .filter .filter-brand .search-brand {
    display: none;
  }
}
.sidebar-wrapper .filter .filter-brand .search-brand .search-brand-input {
  background: #21201E;
  border: 1px solid #3E3D3B;
}/*# sourceMappingURL=sidebar.css.map */